@model demo1.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        /* Inline CSS for menu bar */
        .menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

            .menu li {
                float: left;
            }

                .menu li a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }

                    .menu li a:hover {
                        background-color: #111;
                    }
    </style>
</head>
<body>
    <div>
        <ul class="menu">
            <li><a href="./Index">Home</a></li>
            <li><a href="./Aboutus">About Us</a></li>
            <li><a href="./Contact">Contact Us</a></li>
        </ul>
    </div>
    <div>
        @helper contact(String[] arr)
        {
            <ul>
                @foreach (var item in arr)
                {

                    <li>@item</li>
                }
            </ul>
        }

        Country List
        @contact(new string[] { "India", "Bangladesh" })
    </div>
</body>
</html>
